#form {
  margin-left: 200px;
  margin-right: 200px;
  max-width: 800px;
}
@media only screen and (max-width: 900px) {
  #form {
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media only screen and (max-width: 700px) {
  #form {
    margin-left: 20px;
    margin-right: 20px;
  }
}
