/* @import url("https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap");
.bg-img {
  background-image: url(../img/japonês-manga-comic-magazines-sale-na-livraria-local-97168550.jpg);
  height: 500%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
li {
  list-style-type: none;
}
